* { box-sizing: border-box;}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    color: white;
    display: flex;
    height: 500px;
    margin: 0 30px;
  }
  
  .top-box {
    flex: 1;
    border: 10px solid;
    transform: skew(-20deg);
    position: relative;
    overflow: hidden;
  }
  
  .top-box:after {
    height: 400px;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    right: -100%;
    transform: skew(0deg);
    background-image: var(--i);
    background-position: right;
  }
  .low-box {
    flex: 1;
    border: 10px solid;
    transform: skew(-20deg);
    position: relative;
    overflow: hidden;
  }
  
  .low-box:after {
    height: 400px;
    content: "";
    position: absolute;
    top: 10;
    bottom: 0;
    left: -100%;
    right: -100%;
    transform: skew(0deg);
    background-image: var(--i);
    background-position: right;
  }